@use 'signature/fabric-dark' as *;
@use 'input/fabric-dark' as *;
@use 'numerictextbox/fabric-dark' as *;
@use 'maskedtextbox/fabric-dark' as *;
@use 'slider/fabric-dark' as *;
@use 'textbox/fabric-dark' as *;
@use 'textarea/fabric-dark' as *;
@use 'uploader/fabric-dark' as *;
@use 'color-picker/fabric-dark' as *;
@use 'rating/fabric-dark' as *;
@use 'data-form/fabric-dark' as *;
@use 'otp-input/fabric-dark' as *;
@use 'speech-to-text/fabric-dark' as *;
@use 'smart-textarea/fabric-dark' as *;
