@use 'pager/fabric' as *;
@use 'h-scroll/fabric' as *;
@use 'v-scroll/fabric' as *;
@use 'toolbar/fabric' as *;
@use 'accordion/fabric' as *;
@use 'carousel/fabric' as *;
@use 'context-menu/fabric' as *;
@use 'tab/fabric' as *;
@use 'treeview/fabric' as *;
@use 'sidebar/fabric' as *;
@use 'menu/fabric' as *;
@use 'breadcrumb/fabric' as *;
@use 'appbar/fabric' as *;
@use 'stepper/fabric' as *;
