@use 'pager/fluent-dark' as *;
@use 'h-scroll/fluent-dark' as *;
@use 'v-scroll/fluent-dark' as *;
@use 'toolbar/fluent-dark' as *;
@use 'accordion/fluent-dark' as *;
@use 'carousel/fluent-dark' as *;
@use 'context-menu/fluent-dark' as *;
@use 'tab/fluent-dark' as *;
@use 'treeview/fluent-dark' as *;
@use 'sidebar/fluent-dark' as *;
@use 'menu/fluent-dark' as *;
@use 'breadcrumb/fluent-dark' as *;
@use 'appbar/fluent-dark' as *;
@use 'stepper/fluent-dark' as *;
