@use 'pager/material3-dark' as *;
@use 'h-scroll/material3-dark' as *;
@use 'v-scroll/material3-dark' as *;
@use 'toolbar/material3-dark' as *;
@use 'accordion/material3-dark' as *;
@use 'carousel/material3-dark' as *;
@use 'context-menu/material3-dark' as *;
@use 'tab/material3-dark' as *;
@use 'treeview/material3-dark' as *;
@use 'sidebar/material3-dark' as *;
@use 'menu/material3-dark' as *;
@use 'breadcrumb/material3-dark' as *;
@use 'appbar/material3-dark' as *;
@use 'stepper/material3-dark' as *;
