@use 'pager/tailwind' as *;
@use 'h-scroll/tailwind' as *;
@use 'v-scroll/tailwind' as *;
@use 'toolbar/tailwind' as *;
@use 'accordion/tailwind' as *;
@use 'carousel/tailwind' as *;
@use 'context-menu/tailwind' as *;
@use 'tab/tailwind' as *;
@use 'treeview/tailwind' as *;
@use 'sidebar/tailwind' as *;
@use 'menu/tailwind' as *;
@use 'breadcrumb/tailwind' as *;
@use 'appbar/tailwind' as *;
@use 'stepper/tailwind' as *;
