@use 'signature/fabric' as *;
@use 'input/fabric' as *;
@use 'numerictextbox/fabric' as *;
@use 'maskedtextbox/fabric' as *;
@use 'slider/fabric' as *;
@use 'textbox/fabric' as *;
@use 'textarea/fabric' as *;
@use 'uploader/fabric' as *;
@use 'color-picker/fabric' as *;
@use 'rating/fabric' as *;
@use 'data-form/fabric' as *;
@use 'otp-input/fabric' as *;
@use 'speech-to-text/fabric' as *;
@use 'smart-textarea/fabric' as *;
