@use 'signature/fluent2' as *;
@use 'input/fluent2' as *;
@use 'numerictextbox/fluent2' as *;
@use 'maskedtextbox/fluent2' as *;
@use 'slider/fluent2' as *;
@use 'textbox/fluent2' as *;
@use 'textarea/fluent2' as *;
@use 'uploader/fluent2' as *;
@use 'color-picker/fluent2' as *;
@use 'rating/fluent2' as *;
@use 'data-form/fluent2' as *;
@use 'otp-input/fluent2' as *;
@use 'speech-to-text/fluent2' as *;
@use 'smart-textarea/fluent2' as *;
