@use 'signature/tailwind' as *;
@use 'input/tailwind' as *;
@use 'numerictextbox/tailwind' as *;
@use 'maskedtextbox/tailwind' as *;
@use 'slider/tailwind' as *;
@use 'textbox/tailwind' as *;
@use 'textarea/tailwind' as *;
@use 'uploader/tailwind' as *;
@use 'color-picker/tailwind' as *;
@use 'rating/tailwind' as *;
@use 'data-form/tailwind' as *;
@use 'otp-input/tailwind' as *;
@use 'speech-to-text/tailwind' as *;
@use 'smart-textarea/tailwind' as *;
