@use 'signature/tailwind-dark' as *;
@use 'input/tailwind-dark' as *;
@use 'numerictextbox/tailwind-dark' as *;
@use 'maskedtextbox/tailwind-dark' as *;
@use 'slider/tailwind-dark' as *;
@use 'textbox/tailwind-dark' as *;
@use 'textarea/tailwind-dark' as *;
@use 'uploader/tailwind-dark' as *;
@use 'color-picker/tailwind-dark' as *;
@use 'rating/tailwind-dark' as *;
@use 'data-form/tailwind-dark' as *;
@use 'otp-input/tailwind-dark' as *;
@use 'speech-to-text/tailwind-dark' as *;
@use 'smart-textarea/tailwind-dark' as *;
