@use 'signature/tailwind3' as *;
@use 'input/tailwind3' as *;
@use 'numerictextbox/tailwind3' as *;
@use 'maskedtextbox/tailwind3' as *;
@use 'slider/tailwind3' as *;
@use 'textbox/tailwind3' as *;
@use 'textarea/tailwind3' as *;
@use 'uploader/tailwind3' as *;
@use 'color-picker/tailwind3' as *;
@use 'rating/tailwind3' as *;
@use 'data-form/tailwind3' as *;
@use 'otp-input/tailwind3' as *;
@use 'speech-to-text/tailwind3' as *;
@use 'smart-textarea/tailwind3' as *;
