@use 'pager/fabric-dark' as *;
@use 'h-scroll/fabric-dark' as *;
@use 'v-scroll/fabric-dark' as *;
@use 'toolbar/fabric-dark' as *;
@use 'accordion/fabric-dark' as *;
@use 'carousel/fabric-dark' as *;
@use 'context-menu/fabric-dark' as *;
@use 'tab/fabric-dark' as *;
@use 'treeview/fabric-dark' as *;
@use 'sidebar/fabric-dark' as *;
@use 'menu/fabric-dark' as *;
@use 'breadcrumb/fabric-dark' as *;
@use 'appbar/fabric-dark' as *;
@use 'stepper/fabric-dark' as *;
