@use 'pager/fluent2' as *;
@use 'h-scroll/fluent2' as *;
@use 'v-scroll/fluent2' as *;
@use 'toolbar/fluent2' as *;
@use 'accordion/fluent2' as *;
@use 'carousel/fluent2' as *;
@use 'context-menu/fluent2' as *;
@use 'tab/fluent2' as *;
@use 'treeview/fluent2' as *;
@use 'sidebar/fluent2' as *;
@use 'menu/fluent2' as *;
@use 'breadcrumb/fluent2' as *;
@use 'appbar/fluent2' as *;
@use 'stepper/fluent2' as *;
