@use 'pager/highcontrast' as *;
@use 'h-scroll/highcontrast' as *;
@use 'v-scroll/highcontrast' as *;
@use 'toolbar/highcontrast' as *;
@use 'accordion/highcontrast' as *;
@use 'carousel/highcontrast' as *;
@use 'context-menu/highcontrast' as *;
@use 'tab/highcontrast' as *;
@use 'treeview/highcontrast' as *;
@use 'sidebar/highcontrast' as *;
@use 'menu/highcontrast' as *;
@use 'breadcrumb/highcontrast' as *;
@use 'appbar/highcontrast' as *;
@use 'stepper/highcontrast' as *;
