@use 'pager/tailwind3' as *;
@use 'h-scroll/tailwind3' as *;
@use 'v-scroll/tailwind3' as *;
@use 'toolbar/tailwind3' as *;
@use 'accordion/tailwind3' as *;
@use 'carousel/tailwind3' as *;
@use 'context-menu/tailwind3' as *;
@use 'tab/tailwind3' as *;
@use 'treeview/tailwind3' as *;
@use 'sidebar/tailwind3' as *;
@use 'menu/tailwind3' as *;
@use 'breadcrumb/tailwind3' as *;
@use 'appbar/tailwind3' as *;
@use 'stepper/tailwind3' as *;
