@use 'pager/tailwind-dark' as *;
@use 'h-scroll/tailwind-dark' as *;
@use 'v-scroll/tailwind-dark' as *;
@use 'toolbar/tailwind-dark' as *;
@use 'accordion/tailwind-dark' as *;
@use 'carousel/tailwind-dark' as *;
@use 'context-menu/tailwind-dark' as *;
@use 'tab/tailwind-dark' as *;
@use 'treeview/tailwind-dark' as *;
@use 'sidebar/tailwind-dark' as *;
@use 'menu/tailwind-dark' as *;
@use 'breadcrumb/tailwind-dark' as *;
@use 'appbar/tailwind-dark' as *;
@use 'stepper/tailwind-dark' as *;
